# Aplicaciones de Escritorio
PyQt6==6.7.1
Pillow

# Puerto Serie
pyserial

# Tratamiendo de imagenes
opencv-contrib-python

# Terminal
blessed

# Analisis de datos
NumPy
pandas
matplotlib
IPython
scikit-learn

# Variables de entorno
python-dotenv